{
  "$schema": "https://json.schemastore.org/schema-catalog.json",
  "version": 1.0,
  "schemas": [
    {
      "name": "AnyWork Automation Configuration",
      "description": "AnyWork Automation Configuration used to 
# Project exclude paths
/.gradle/